.bannerContainer {
  height: 400px;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.postContainer {
  padding: 0 20%;
  margin-top: 32px;

  h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    color: #f8f8f8;
  }

  h2 {
    margin-top: 64px;
    font-size: 28px;
    font-weight: 36px;
    color: #d7d7d7;
  }

  .bodyContainer {
    p {
      margin: 8px 0;
    }

    p:first-child {
      margin-top: 16px;
    }
  }
}

.loading {
  color: #ff57b2;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-left: 20%;
}

.prevNext {
  display: flex;
  justify-content: space-between;

  p {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  a {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.5px;
    text-align: left;
    text-decoration: none;
    color: #ff57b2;
  }
}
